.body {

  background-color: #09090b;

  /* Set the background color to black  overflow-y: hidden;*/
}

body {

  background-color: #09090b;

  /* Set the background color to black  overflow-y: hidden;*/
}

.messagesFieldSZ {
  flex-grow: 1;
}

.textfieldSMS {
  bottom: 0px;
}
