@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen scroll-smooth font-sans antialiased transition-colors;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-m-20 tracking-tight;
  }

  h1 {
    @apply text-4xl font-bold lg:text-5xl;
  }

  h2 {
    @apply text-2xl font-semibold lg:text-3xl;
  }

  h3 {
    @apply text-xl font-semibold lg:text-2xl;
  }

  h4 {
    @apply text-lg font-semibold lg:text-xl;
  }

  h5 {
    @apply font-semibold lg:text-lg;
  }

  h6 {
    @apply font-semibold lg:text-base;
  }

  header {
    @apply space-y-1;
  }

  b {
    @apply font-bold;
  }

  code {
    @apply font-mono;
  }

  button {
    @apply select-none;
  }
}

@layer components {

  /* shouldn't be a React component, because any element can be styled as a card */
  .card-base {
    @apply rounded border-2;
  }

  .card {
    @apply card-base block px-3 py-2;
  }

  .card-sm {
    @apply card-base block px-2 py-1;
  }

  .card-lg {
    @apply card-base block p-6;
  }

  .card-action {
    @apply dark:bg-black;
  }

  .code {
    @apply bg-slate-300/50 text-slate-900 hover:bg-slate-300;
    @apply dark:bg-slate-800/50 dark:text-slate-400 dark:hover:bg-slate-800;
    @apply relative rounded px-[0.3rem] py-[0.2rem] font-mono font-semibold transition-colors before:content-none after:content-none;
  }
}

@layer utilities {
  /* Content */

  .bg-text-raised {
    @apply text-black dark:text-slate1;
  }

  .link {
    @apply text-gray-600 transition-colors;
  }

  .dim {
    @apply text-black;
  }

  .dim-xs {
    @apply dim text-xs;
  }

  .inline-icon {
    @apply inline-block align-middle;
  }
}

/* Content Variants */
.input {
  @apply bg-white dark:bg-gray-950;
  @apply border-gray-100 focus-visible:border-gray-100 dark:border-gray-800 rounded-md border-2;
  @apply focus-visible:ring-gray-600 dark:focus-visible:ring-gray-400;
  @apply placeholder:text-gray-400 dark:text-gray-50 dark:placeholder:text-gray-700 flex h-10 w-full px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.select-trigger {
  @apply rounded-md;
  @apply bg-white flex h-10 items-center justify-between border-2 px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  @apply placeholder:text-black data-[placeholder]:text-black;
}

.button {
  @apply z-auto cursor-pointer select-none rounded-md transition-colors active:translate-y-px;
  @apply font-semibold hover:font-semibold focus:font-semibold;
  @apply disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
  @apply focus:ring-gray-600 dark:focus:ring-gray-400 dark:focus:ring-offset-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2;
}

.button-size-default {
  @apply h-9 gap-2 rounded-md px-3 sm:h-10 sm:px-4;
}

.button-size-small {
  @apply button h-7 gap-2 rounded px-2 text-sm hover:text-sm focus:text-sm sm:h-8 sm:px-3;
}

/* Layouts */
.px-layout {
  @apply px-2 sm:px-4;
}

.contain-full {
  @apply mx-auto w-full max-w-7xl;
}

.contain-sm-full {
  @apply mx-auto w-full max-w-3xl;
}

.contain {
  @apply contain-full px-layout;
}

.contain-sm {
  @apply contain-sm-full px-layout;
}

.queue {
  @apply flex flex-wrap gap-2;
}

.queue-sm {
  @apply flex flex-wrap gap-1;
}

.queue-lg {
  @apply flex flex-wrap gap-2 sm:gap-4;
}

.queue-xl {
  @apply flex flex-wrap gap-4 sm:gap-8;
}

.queue-center {
  @apply queue items-center;
}

.queue-center-sm {
  @apply queue-sm items-center;
}

.queue-center-lg {
  @apply queue-lg items-center;
}

.stack {
  @apply queue flex-col;
}

.stack-sm {
  @apply queue-sm flex-col;
}

.stack-lg {
  @apply queue-lg flex-col;
}

.stack-xl {
  @apply queue-xl flex-col;
}

.stack-start {
  @apply stack items-start;
}

.stack-center {
  @apply stack items-center;
}

.cross-center {
  @apply flex items-center justify-center;
}

/* Sizes */
.size-xs {
  @apply h-3 w-3;
}

.size-sm {
  @apply h-4 w-4;
}

.size-md {
  @apply w-5;
}

.size-lg {
  @apply h-7 w-7;
}

.size-xl {
  @apply h-10 w-10;
}

.size-2xl {
  @apply h-12 w-12;
}

.size-3xl {
  @apply h-16 w-16;
}

.size-4xl {
  @apply h-20 w-20;
}

.size-5xl {
  @apply h-28 w-28;
}

/* NProgress styles need to be outside of layers because using #id */
#nprogress {
  @apply pointer-events-none z-50;
}

#nprogress .bar {
  @apply fixed left-0 top-0 z-50 h-1 w-full;
}

#nprogress .spinner {
  @apply fixed bottom-2 right-2 z-50 block;
}

#nprogress .spinner-icon {
  @apply border-transparent z-50 box-border h-6 w-6 animate-spin rounded-full border-4 duration-500;
}

.nprogress-custom-parent {
  @apply relative z-50 overflow-hidden;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  @apply absolute z-50;
}

/* Uploadcare styles need to be outside of layers */
.uploadcare--dialog {
  @apply backdrop-blur-sm;
}

.uploadcare--dialog__container {
  @apply card-base;
}

.uploadcare--menu__items {
  @apply bg-text-raised;
}

.uploadcare--menu__item {
  @apply bg-text-raised focus:link hover:link;
}

.uploadcare--link,
.uploadcare--link:link,
.uploadcare--link:visited {
  @apply link;
}

.uploadcare--button:not(.uploadcare--dialog__close) {
  @apply button focus:link hover:link cursor-pointer;
}

.uploadcare--dialog__close {
  @apply link focus:link hover:link cursor-pointer;
}

.uploadcare--widget__button {
  @apply button-size-small;
}

.uploadcare--button_primary {
  @apply button block border-none;
}

.uploadcare-tab-effects--effects {
  @apply queue-center;
}

.uploadcare-tab-effects--effect-button {
  @apply dark:fill-white;
}

.uploadcare--input {
  @apply input;
}

.uploadcare--camera__device-select {
  @apply select-trigger w-full max-w-lg;
}

.uploadcare--file__description {
  @apply hover:link focus:link;
}

.uploadcare--file__description .uploadcare--file__preview {
  @apply hover:link focus:link;
}

.uploadcare--file_status_uploading .uploadcare--file__preview {
  @apply hover:link focus:link;
}

.uploadcare--powered-by {
  @apply hidden;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-center2 {
  grid-area: span 1 / 2 / 2 / 2;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggleTheme {
  right: 300px;
}

.myUserNav {}

.buttons {
  size: x-large;
}

.centered-container {
  display: grid;
  place-items: center;
  /* Center both horizontally and vertically */
  height: 100vh;
  /* Optional: Make the container full height of the viewport */
}

.inputSet {
  display: grid;
  margin-top: 10px;
  align-items: center;
  gap: 6;
  width: 65%;
}

.indiInputs {
  height: 55px;
  margin-top: 35px;
  width: 70%;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 50;
}

.welcomeDealerfees {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%);

  width: 75%;
  margin-left: 25px;
  margin-bottom: 55px;
}

.dealerInputs {
  width: 100px;
}

.contactUsInputSection {
  margin-top: 10px;
  align-items: start;
}

.lastQuoteOutlet {
  width: 100%;
  align-items: center;
}

.settingsIndex {
  position: relative;
}

.settingsDealerfees {
  top: 25px;
  left: 30%;
  width: 100%;

  margin-left: 25px;
  margin-bottom: 55px;
}

.dealerfeesbotton {
  margin-top: 35px;
}

.overview {
  width: 70%;
}

.indiInputsDealkerfees {
  height: 55px;
  margin-top: 35px;
  width: 80%;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 50;
}

.menu-bar {
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin-right: 20px;
}

.menu-list li:last-child {
  margin-right: 0;
}

.menu-list li a {
  color: white;
  text-decoration: none;
}

hr.solid {
  border-top: 2px solid #000000;
}

.vl {
  border-left: 1px solid #2e2e2e;
  height: 500px;
}

/* Calendar Container */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  font-family: Chivo Mono;
  line-height: 1em;
  margin: 1rem;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

/* Month and Year */
.react-calendar__navigation__label {
  font-weight: bold;
  color: black;
}

.react-calendar__navigation {
  display: flex;
  height: 40px;
  margin-bottom: 0.5em;
}

/* Navigation Buttons */
.react-calendar__navigation button {
  min-width: 30px;
  background: none;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  border-bottom: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
  border-bottom: none;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #e6e6e6;
  border-bottom: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  border-bottom: none;
}

/* Days of the Week */
.react-calendar__month-view__weekdays__weekday {
  color: #000000;
  /* Adjust this color to match the desired shade of white */
  border-bottom: none;
  border-bottom: white;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #353535;
}

/* Current Displayed Days */
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__month-view__days__day--neighboringMonth:hover {
  color: rgb(170, 170, 170);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 0.5em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 5px 5px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 0.375rem;
}

/* Non-Current Displayed Days */
.react-calendar__tile--now,
.react-calendar__tile--now:hover {
  color: black;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: gray;
  border-radius: 0.375rem;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

/* Selected Day */
.react-calendar__tile--active {
  color: white;
  background-color: black;
  border-radius: 0.375rem;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

/* Hover Style */
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f0f0f0;
  /* Adjust this color to match the desired darker white */
  border-radius: 0.375rem;
}

div.menu-button {
  display: block;
  width: 40px;
  height: 25px;
  cursor: pointer;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.menu-button span {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #0074c5;
}

div.menu-button span:nth-child(2) {
  margin: 8px 0;
}

div.menu-button.active span:nth-child(1) {
  animation: uno-in 0.5s ease forwards;
}

div.menu-button.active span:nth-child(2) {
  animation: dos-in 0.4s ease forwards;
  animation-delay: 0.1s;
}

div.menu-button.active span:nth-child(3) {
  animation: tres-in 0.5s ease forwards;
}

div.menu-button span:nth-child(1) {
  animation: uno-out 0.5s ease backwards;
  animation-direction: reverse;
}

div.menu-button span:nth-child(2) {
  animation: dos-out 0.4s ease backwards;
  animation-direction: reverse;
}

div.menu-button span:nth-child(3) {
  animation: tres-out 0.5s ease backwards;
  animation-direction: reverse;
}

@keyframes uno-in {
  0% {
    transform: translateY(0) rotate(0deg) scale(1);
  }

  25% {
    transform: translateY(10px) rotate(0deg) scale(1);
  }

  50% {
    transform: translateY(10px) rotate(0deg) scale(0);
  }

  75% {
    transform: translateY(10px) rotate(0deg) scale(1);
  }

  100% {
    transform: translateY(10px) rotate(45deg) scale(1);
  }
}

@keyframes uno-out {
  0% {
    transform: translateY(0) rotate(0deg) scale(1);
  }

  25% {
    transform: translateY(10px) rotate(0deg) scale(1);
  }

  50% {
    transform: translateY(10px) rotate(0deg) scale(0);
  }

  75% {
    transform: translateY(10px) rotate(0deg) scale(1);
  }

  100% {
    transform: translateY(10px) rotate(45deg) scale(1);
  }
}

@keyframes dos-in {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes dos-out {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes tres-in {
  0% {
    transform: translateY(0) rotate(0deg) scale(1);
  }

  25% {
    transform: translateY(-12px) rotate(0deg) scale(1);
  }

  50% {
    transform: translateY(-12px) rotate(0deg) scale(0);
  }

  75% {
    transform: translateY(-12px) rotate(0deg) scale(1);
  }

  100% {
    transform: translateY(-12px) rotate(-45deg) scale(1);
  }
}

@keyframes tres-out {
  0% {
    transform: translateY(0) rotate(0deg) scale(1);
  }

  25% {
    transform: translateY(-12px) rotate(0deg) scale(1);
  }

  50% {
    transform: translateY(-12px) rotate(0deg) scale(0);
  }

  75% {
    transform: translateY(-12px) rotate(0deg) scale(1);
  }

  100% {
    transform: translateY(-12px) rotate(-45deg) scale(1);
  }
}

.button.active,
.sub-button.active {
  text-decoration: underline;
  font-weight: 900;
}

.button,
.sub-button {
  font-weight: 200;
}

.h-5 {
  font-weight: 200;
}

.h-5:hover {
  font-weight: 800;
}

.RemixNavLink:hover {
  font-weight: 900;
}

.RemixNavLink.active {
  font-weight: 900;
}

.sidebarnavlink {}

.sidebarnavlink:hover {
  font-weight: 900;
}

.link-with-arrow {
  position: relative;
}

.link-with-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #000;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.link-with-arrow:hover::after {
  opacity: 1;
}

.dashboardClientCard {
  width: 500px;
}

.ka {
  background-color: white;
  font-size: 11px;
  display: flex;
  flex-direction: column;
}

.ka-table-wrapper {
  height: 100%;
  width: 3000px;

  overflow-x: auto;
  overflow-y: auto;
}

.ka-table {
  table-layout: fixed;
  border-collapse: collapse;
}

.ka-thead-background {
  background-color: #f1f5f7;
}

.ka-thead-cell-height {
  box-sizing: border-box;
  height: 27px;
}

.ka-thead-fixed {
  position: sticky;
}

.ka-thead-row:nth-child(1) .ka-thead-fixed {
  top: 0px;
}

.ka-thead-row:nth-child(2) .ka-thead-fixed {
  top: 47px;
}

.ka-thead-row:nth-child(3) .ka-thead-fixed {
  top: 94px;
}

.ka-thead-row:nth-child(4) .ka-thead-fixed {
  top: 141px;
}

.ka-thead-row:nth-child(5) .ka-thead-fixed {
  top: 188px;
}

.ka-thead-row:nth-child(6) .ka-thead-fixed {
  top: 235px;
}

.ka-thead-cell {
  padding: 7px 10px;
  color: #5a6875;
  border: #3f4246;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  justify-content: center;
  text-align: center;
}

.ka-thead-cell-wrapper {
  display: flex;
}

.ka-thead-cell-content-wrapper {
  width: 100%;
}

.ka-thead-cell-content {
  width: 100%;
  text-align: center;
}

.ka-tbody {
  height: 100%;
}

.ka-thead-cell,
.ka-cell {
  text-align: left;
}

.ka-cell {
  padding: 4px 10px;
  line-height: 19px;
  color: #353c44;
  border: #2b3644;
  border-top: 1px solid #2b3644;

  border-bottom: 1px solid #2b3644;
  border-right: 1px solid #2b3644;
  border-left: 1px solid #2b3644;
  justify-content: center;
  text-align: center;
}

.ka-tree-cell {
  display: flex;
}

.ka-icon {
  font-weight: 100;
  font-size: 10px;
}

.ka-input {
  max-width: 100%;
  border: 1px solid;
}

.ka-cell-editor-validation-error .ka-input {
  background: #ffe7e7;
  border: 1px solid #ff0c0c;
}

.ka-validation-message-container {
  position: absolute;
}

.ka-validation-message {
  font-size: 12px;
  color: white;
  background-color: #ff0c0c;
  padding: 0 5px;
  max-width: 200px;
}

.ka-empty-cell {
  width: 40px;
  min-width: 40px;
}

.ka-tree-empty-space {
  width: 20px;
}

.ka-tr {
  width: 100%;
}

.ka-no-data-row {
  height: 100px;
  text-align: center;
}

.ka-row {
  box-sizing: border-box;
  border-bottom: 2px solid #f9fbfc;
  border-top: 2px solid #f9fbfc;
}

.ka-dragged-row {
  opacity: 0.5;
}

.ka-drag-over-row {
  box-shadow: inset 0 7px 0px -4px #e1ebf0;
}

.ka-dragged-row~.ka-drag-over-row {
  box-shadow: inset 0 -7px 0px -4px #e1ebf0;
}

.ka-drag-over-column {
  box-shadow: inset 7px 0 0px -4px #e1ebf0;
}

.ka-dragged-column~.ka-drag-over-column {
  box-shadow: inset -7px 0 0px -4px #e1ebf0;
}

.ka-row-selected {
  background-color: #f7fcfd;
}

.ka-group-row {
  background-color: #f9fbfc;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.ka-group-cell {
  padding: 8px 10px;
}

.ka-group-cell-content {
  display: flex;
  align-items: center;
}

.ka-icon-group-arrow {
  padding: 7px 5px 7px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.ka-group-panel {
  display: flex;
}

.ka-group-panel-cell {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.ka-group-panel-cell-remove {
  cursor: pointer;
  color: #b8bdc2;
  display: flex;
  fill: currentColor;
}

.ka-group-panel-text {
  color: #747d86;
  margin: 30px 20px;
}

.ka-icon-tree-arrow {
  padding: 0 10px 0 10px;
  margin-left: -10px;
  cursor: pointer;
}

.ka-icon-sort {
  margin-left: 3px;
}

.ka-icon-sort-arrow-up {
  color: #687078;
  fill: currentColor;
  position: relative;
  top: 1px;
}

.ka-icon-sort-arrow-down {
  color: #687078;
  fill: currentColor;
  position: relative;
  top: 1px;
}

.ka-pointer {
  cursor: pointer;
}

.ka-filter-row-cell {
  padding: 0 20px 15px 20px;
}

.ka-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5333333333);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ka-loading-active {
  position: relative;
}

.ka-loading-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: ka-loading-animation 1s linear infinite alternate;
  position: relative;
  left: -20px;
}

.ka-thead-cell-resize {
  user-select: none;
  width: 2px;
  cursor: col-resize;
  background-color: #d7e4eb;
  position: relative;
  left: 19px;
}

.ka-thead-cell-resize:active:after {
  content: "";
  display: block;
  position: fixed;
  cursor: col-resize;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ka-thead-background:active {
  z-index: 1;
}

.ka-summary-cell {
  padding: 12px 20px;
}

@keyframes ka-loading-animation {
  0% {
    background-color: rgb(116, 125, 134);
    box-shadow: 20px 0px 0px 0px rgba(116, 125, 134, 0.2),
      40px 0px 0px 0px rgba(116, 125, 134, 0.2);
  }

  25% {
    background-color: rgba(116, 125, 134, 0.4);
    box-shadow: 20px 0px 0px 0px rgb(116, 125, 134),
      40px 0px 0px 0px rgba(116, 125, 134, 0.2);
  }

  75% {
    background-color: rgba(116, 125, 134, 0.4);
    box-shadow: 20px 0px 0px 0px rgba(116, 125, 134, 0.2),
      40px 0px 0px 0px rgb(116, 125, 134);
  }

  100% {
    box-shadow: none;
  }
}

.ka-loading-text {
  margin-top: 15px;
  color: #353c44;
}

.ka-paging-sizes-active {
  display: flex;
  justify-content: space-between;
}

.ka-paging-pages,
.ka-paging-sizes {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  margin: 0;
}

.ka-paging-pages {
  justify-content: flex-end;
}

.ka-paging-page-index,
.ka-paging-size {
  cursor: pointer;
  padding: 5px;
  margin: 10px 5px;
  min-width: 18px;
  border-radius: 50%;
  text-align: center;
  color: #747d86;
  user-select: none;
}

.ka-paging-page-index-active,
.ka-paging-size-active {
  background-color: #f1f5f7;
  font-weight: bold;
  color: #747d86;
}

.ka-popup {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  color: #747d86;
  padding: 15px 20px;
  position: absolute;
  text-align: center;
  width: 245px;
  max-height: 325px;
  overflow-y: auto;
  z-index: 1000;
}

.ka-popup-content-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f9fbfc;
}

.ka-popup-content-item-value {
  padding: 8px 20px;
}

.ka-header-filter-button-icon {
  font-size: 16px;
  position: absolute;
  top: -1px;
  color: #51575d;
  fill: currentColor;
}

.ka-header-filter-button {
  margin-left: 3px;
  position: relative;
}

.ka-header-filter-button-has-value {
  font-weight: bold;
}

.custom-cell-demo-loyal {
  background-color: green;
  color: white;
}

.custom-cell-demo-no-loyal {
  background-color: red;
  color: white;
}

/* financeNotes */
.dialogContent {
  position: fixed;
  right: 0;
}

/* reset */
a,
button {
  all: unset;
}

.containertoolBar {
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100vh;
}

.ToolbarRoot {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;

  flex-direction: column;
  align-items: center;

  padding: 10px;
  width: 125px;
  min-width: max-content;
  border-radius: 6px;
  background-color: rgb(32, 48, 56);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.ToolbarToggleItem,
.ToolbarLink,
.ToolbarButton {
  color: #bdc3cf;
  width: 100%;
  height: 24px;

  border-radius: 4px;
  display: inline-flex;
  font-size: 13px;
  line-height: 1;
  align-items: center;
  justify-content: center;
}

.ToolbarToggleItem:hover,
.ToolbarLink:hover,
.ToolbarButton:hover {
  background-color: #c1c4ca;
  color: rgb(49, 62, 68);
}

.ToolbarToggleItem:focus,
.ToolbarLink:focus,
.ToolbarButton:focus {
  position: relative;
  box-shadow: 0 0 0 2px #28292b;
}

.ToolbarToggleItem {
  background-color: #16171b;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.ToolbarToggleItem:first-child {
  margin-top: 0;
}

.ToolbarToggleItem[data-state="on"] {
  background-color: #2b424b;
  color: #7f9cf5;
}

.ToolbarSeparator {
  width: 1px;
  background-color: #e1e2e4;
  margin: 10px 0;
}

.ToolbarLink {
  background-color: transparent;
  color: #b1b5bd;
  display: none;
  justify-content: center;
  align-items: center;
}

.ToolbarLink:hover {
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 520px) {
  .ToolbarLink {
    display: inline-flex;
  }
}

.ToolbarButton {
  width: 100%;
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(214, 197, 197);
  background-color: #16171b;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.ToolbarButton:hover {
  background-color: #6e8299;
  color: white;
}

input[type="file-upload-button"] {
  color: black;
  background-color: #02a9ff;
}

@charset "UTF-8";

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

.rbc-header+.rbc-header {}

.rbc-rtl .rbc-header+.rbc-header {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-month-row+.rbc-month-row {
  border-top: 1px solid #ddd;
}

.rbc-day-bg+.rbc-day-bg {
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-day-bg+.rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}
